<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Templates</title>
    <style>
        body{
        font-family:;
        background-color:black;
        text-align:center;
        padding-top:10px;
        color : white
        }

        h1{
        color:white;
        }

        div {
        padding : 20px;
        border : solid black 10px;
        background-color:black;
        color:white;
        backdrop-filter:blur(10px);
        box-shadow: 10px 20px 30px red;
        }


    </style>
</head>
<body>

<h1>Welcome to my website!✌️</h1>
<!--<p> This is a simple HTML Template.-->
<!--</p>-->
<div>
    <p>wertyuisdfghjxcv sdfgh dfgh dgfhjk ytdfvsbjkf</p>
</div>

</body>
</html>